<%= form_with(model: criterium, local: true) do |form| %>
  <% if criterium.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
        <% criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :criteria_type %>
    <%= form.select :criteria_type_id, CriteriaType.all.map{ |m| [m.description, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map{ |m| [m.name, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :suggested_score %>
    <%= form.number_field :suggested_score %>
  </div>

  <div class="field">
    <%= form.label :optional %>
    <%= form.check_box :optional %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
