<%= form_with(model: judge_fair, local: true) do |form| %>
  <% if judge_fair.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(judge_fair.errors.count, "error") %> prohibited this judge_fair from being saved:</h2>

      <ul>
        <% judge_fair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Fair.all.empty? %>
    <div class="alert alert-danger">
      <h4>There are no active fairs at this time.  You will not be able to volunteer.</h4>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fair_id %>
    <%= form.select :fair_id, Fair.all.map{ |m| [m.name_with_warning, m.id] }%>
  </div>

  <div class="actions">
    <% if Fair.all.empty? %>
      <%= form.submit "Volunteer", disabled: true%>
    <% else %>
      <%= form.submit "Volunteer" %>
    <% end %>
  </div>
<% end %>
