<h1>Fairs Volunteered For</h1>

<table>
  <thead>
  <tr>
    <% if current_user.admin? %>
      <th>User</th>
    <% end %>
    <th>Fair</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @judge_fairs.each do |judge_fair| %>
    <tr>
      <% if current_user.admin? %>
        <td><%= judge_fair.user.email %></td>
      <% end %>
      <td><%= judge_fair.fair.name_with_warning %></td>
      <td><%= link_to 'Un-volunteer', judge_fair, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volunteer', new_judge_fair_path %>
<br><%= link_to 'Back', root_path %>
