<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Fair.all.empty? %>
    <div class="alert alert-danger">
      <h4>There are no active fairs at this time.  You will not be able to submit an entry.</h4>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_name %>
    <%= form.text_field :entry_name, size: "50x1" %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "80x10"  %>
  </div>

  <div class="field">
    <%= form.label :materials_used %><br>
    <%= form.text_field :materials, size: "80x1" %>
  </div>

  <div class="field">
    <%= form.label :culture %><br>
    <%= form.text_field :culture, size: "80x1" %>
  </div>

  <div class="field">
    <%= form.label :time_period %><br>
    <%= form.text_field :time_period, size: "80x1" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :division %>
    <%= form.select :division_id, Division.all.default_order.map{ |m| [m.name, m.id] }%>
  </div>

  <div id="entry_division_desc">
    <p><%= simple_format Division.default_order.first.description %></p>
    <p id="mail_in_warning"></p>
  </div>

  <div class="field">
    <%= form.label :fair %>
    <%= form.select :fair_id, Fair.all.in_order.map{ |m| [m.name, m.id] }, disabled: Fair.where(entries_allowed: false).pluck(:id) %>
  </div>

  <div class="field">
    <p><%= form.radio_button :in_person, true %> Face-to-face
      <br>
    <%= form.radio_button :in_person, false %> Not Face-to-face</p>
  </div>

  <div class="field">
    <p><%= form.radio_button :scored, true %> Scored
    <br>
      <%= form.radio_button :scored, false %> Commentary Only</p>
  </div>

<!--  <div class="field">-->
    <%#= form.check_box :pentathlon %>
    <%#= form.label :pentathlon %>
<!--  </div>-->

  <div class="field">
    <%= form.check_box :division_type %>
    <%= form.label :division %>
  </div>

  <div class="field">
    <%= form.check_box :first_time %>
    <%= form.label :first_time %>
  </div>

  <div class="field">
    <%= form.check_box :youth %>
    <%= form.label :youth %>
  </div>

  <div class="actions">
    <% if Fair.all.empty? %>
      <%= form.submit disabled: true%>
  <% else %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
