<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_name %>
    <%= form.text_field :entry_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, options_for_select(@categories.collect{ |u| [u.name, u.id] }, { selected: @current_category })%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
