<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_name %>
    <%= form.text_field :entry_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :materials_used %>
    <%= form.text_field :materials %>
  </div>

  <div class="field">
    <%= form.label :culture %>
    <%= form.text_field :culture %>
  </div>

  <div class="field">
    <%= form.label :time_period %>
    <%= form.text_field :time_period %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map{ |m| [m.name, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :fair %>
    <%= form.select :fair_id, Fair.all.map{ |m| [m.name, m.id] }%>
  </div>

  <div class="field">
    <%= form.radio_button :in_person, true %> Face-to-face
    <br>
    <%= form.radio_button :in_person, false %> Not Face-to-face
  </div>

  <div class="field">
    <%= form.radio_button :scored, true %> Scored
    <br>
    <%= form.radio_button :scored, false %> Commentary Only
  </div>

  <div class="field">
    <%= form.label :pentathlon %>
    <%= form.check_box :pentathlon %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.check_box :division %>
  </div>

  <div class="field">
    <%= form.label :first_time %>
    <%= form.check_box :first_time %>
  </div>

  <div class="field">
    <%= form.label :youth %>
    <%= form.check_box :youth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
