<h1>Your entries</h1>

<table>
  <thead>
  <tr>
    <th>Entry name</th>
    <th>Timeslot</th>
    <th>Fair</th>
    <th>Judging Options</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.entry_name %></td>
      <td><%= entry.timeslot_description %></td>
      <td><%= entry.fair.name %></td>
      <td>
        <ul>
          <li><%= entry.in_person_option  %></li>
          <li><%= entry.scored_option %></li>
        </ul>
      </td>
      <td><%= link_to 'View Details', entry %></td>
      <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
      <% if current_user.admin? %>
        <td><%= link_to 'Delete Entry', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <td><%= link_to 'Add Group Entrants', entry_user_entries_path(entry) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <h1>All entries</h1>

  <table>
    <thead>
    <tr>
      <th>Entry name</th>
      <th>Timeslot</th>
      <th>Fair</th>
      <th>Judging Options</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% Entry.all.order(:fair_id, :entry_name).each do |entry| %>
      <tr>
        <td><%= entry.entry_name %></td>
        <td><%= entry.timeslot_description %></td>
        <td><%= entry.fair.name %></td>
        <td>
          <ul>
            <li><%= entry.in_person_option  %></li>
            <li><%= entry.scored_option %></li>
          </ul>
        </td>
        <td><%= link_to 'View Details', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Delete Entry', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Add Group Entrants', entry_user_entries_path(entry) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'Submit a New Entry', new_entry_path %><br>
<%= link_to 'Back', root_path %>
