<p id="notice"><%= notice %></p>

<p>
  <strong>Entry name:</strong>
  <%= @entry.entry_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user.email  %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category.name  %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @entry.timeslot.description %>
</p>


<p>
  <strong>Materials:</strong>
  <%= @entry.materials  %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @entry.culture  %>
</p>

<p>
  <strong>Time Period:</strong>
  <%= @entry.time_period  %>
</p>

<p>
  <strong>In person?:</strong>
  <%= @entry.in_person  %>
</p>

<p>
  <strong>Scored?:</strong>
  <%= @entry.scored  %>
</p>

<p>
  <strong>Pentathlon?:</strong>
  <%= @entry.pentathlon  %>
</p>

<p>
  <strong>Division?:</strong>
  <%= @entry.division  %>
</p>

<p>
  <strong>First time?:</strong>
  <%= @entry.first_time  %>
</p>

<p>
  <strong>Youth?:</strong>
  <%= @entry.youth  %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
