<p>
  <strong>Entrants:</strong>
  <br>
  <% UserEntry.entrants(@entry).each do |user| %>
    <%= user.email %> - <%= user.sca_name %><br>
  <% end %>
</p>

<hr>

<p>
  <strong>Entry name:</strong>
  <%= @entry.entry_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @entry.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category.name  %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @entry.fair.scheduling_visible ? @entry.timeslot_description : "Not Assigned Yet" %>
</p>

<p>
  <strong>Room:</strong>
  <%= @entry.fair.scheduling_visible ? @entry.location_description : "Not Assigned Yet" %>
</p>

<p>
  <strong>Fair:</strong>
  <%= @entry.fair.name %>
</p>

<p>
  <strong>Materials:</strong>
  <%= @entry.materials  %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @entry.culture  %>
</p>

<p>
  <strong>Time Period:</strong>
  <%= @entry.time_period  %>
</p>

<p><strong>Judging Options</strong></p>

<p>
  <ul>
    <li><%= @entry.in_person_option  %></li>
    <li><%= @entry.scored_option %></li>
  </ul>
</p>

<p>
  <strong>Pentathlon?:</strong>
  <%= @entry.pentathlon  %>
</p>

<p>
  <strong>Division?:</strong>
  <%= @entry.division  %>
</p>

<p>
  <strong>First time?:</strong>
  <%= @entry.first_time  %>
</p>

<p>
  <strong>Youth?:</strong>
  <%= @entry.youth  %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
