<p>
  <strong>Criteria:</strong>
  <%= @score.criteria_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @score.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
