<%= form_with(model: criteria_type, local: true) do |form| %>
  <% if criteria_type.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(criteria_type.errors.count, "error") %> prohibited this criteria_type from being saved:</h2>

      <ul>
        <% criteria_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :max_score %>
    <%= form.number_field :max_score %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.select :division_id, Division.all.map{ |m| [m.name, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :parent %>
    <%= form.select :parent_id, CriteriaType.all.top_level.map{ |m| [m.description, m.id] }.push(["No Parent", nil]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
