<%= form_with(model: fair, local: true) do |form| %>
  <% if fair.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(fair.errors.count, "error") %> prohibited this fair from being saved:</h2>

      <ul>
        <% fair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.select :region_id, Region.all.map{ |m| [m.name, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :internet_access %>
    <%= form.check_box :internet_access %>
  </div>

  <div class="field">
    <%= form.label :entries_allowed %>
    <%= form.check_box :entries_allowed %>
  </div>

  <div class="field">
    <%= form.label "Show schedule to users?" %>
    <%= form.check_box :scheduling_visible %>
  </div>

  <div class="field">
    <%= form.label :scoresheets_allowed %>
    <%= form.check_box :scoresheets_allowed %>
  </div>

  <div class="field">
    <%= form.label :mail_in_scoresheets_allowed %>
    <%= form.check_box :mail_in_scoresheets_allowed %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
