<h1>Fairs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Region</th>
      <th>Internet</th>
      <th>Entries Allowed</th>
      <th>Scheduling Visible</th>
      <th>Mail-In Scoresheets Available</th>
      <th>Scoresheets Available</th>
      <th>Finalized?</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @fairs.each do |fair| %>
      <tr>
        <td><%= fair.name %></td>
        <td><%= fair.date %></td>
        <td><%= fair.region.name %></td>
        <td><%= fair.internet_access %></td>
        <td><%= fair.entries_allowed %></td>
        <td><%= fair.scheduling_visible %></td>
        <td><%= fair.mail_in_scoresheets_allowed %></td>
        <td><%= fair.scoresheets_allowed %></td>
        <td><%= fair.finalized %></td>
        <td><%= link_to 'View Schedule', view_schedule_fair_path(fair) %></td>
        <td><%= link_to 'Assign Schedule', schedule_fair_path(fair) %></td>
        <td><%= link_to 'Assign Judges', fair_judge_assigns_path(fair) %></td>
        <td><%= link_to 'Final Review', review_fair_path(fair) %></td>
        <td><%= link_to 'Show', fair %></td>
        <td><%= link_to 'Edit', edit_fair_path(fair) %></td>
        <td><%= link_to 'Destroy', fair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fair', new_fair_path %>
<br><%= link_to 'Back', root_path %>
