<h1>Schedule</h1>

<div>
  <p>Scheduling changes will be stored but NOT saved until submitted.  The reset button will clear pending changes.</p>
  <p><a href="#" data-fair="<%= @fair.id %>" data-reflex="click->ExampleReflex#reset">Reset</a></p>
</div>

<%= form_for :entries, :url => schedule_fair_path do |form| %>
  <table>
    <thead>
    <tr>
      <th>Entry</th>
      <th>Entrant</th>
      <% Timeslot.all.in_order.each do |timeslot| %>
        <th></th>
      <% end %>
      <th>Room</th>
    </tr>
    </thead>

    <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td>
          <h4><%= entry.pent_or_div %><%= link_to entry.entry_name, entry_path(entry), target: :_blank %></h4>
        </td>
        <td>
          <%= entry.entrant_string %>
        </td>
        <%= fields_for "entries[]", entry do |f| %>
          <%= render partial: 'bulk_update_entry_timeslot', locals: {form: f, entry: entry} %>
          <td>
            <div class="field">
              <%= f.select :location_id, Location.for_fair(entry.fair).map { |m| [m.description, m.id] } %>
            </div>
          </td>
          </tr>
          <tr>
            <td colspan="8">
              <%= f.fields_for "judge_assigns[]", entry do |ff| %>
                <% order_by_preference(@judges, entry).each do |user| %>
                  <label class="<%= warn_of_dupes_for_judges(entry, user) %>">
                  <%= check_box_tag 'judge_assigns[]', "#{entry.id}_#{user.id}",
                                    # user.judging_entry?(entry),
                                    is_judge_selected?(entry, user),
                                    "data-entry" => entry.id,
                                    "data-entrant" => user.id,
                                    "data-reflex" => "change->ExampleReflex#judges" %>
                  <%= link_to user.email_or_name, user_judge_preferences_path(user), target: :_blank, class: user.color_class(entry) %>
                  <%= user.display_peerages %>
                  </label>
                <% end %>
              <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p>
    <%= submit_tag("Submit") %>
  </p>
<% end %>

<br>  <%= link_to 'Review Schedule', view_schedule_fair_path(@fair) %>
<br>  <%= link_to 'Back', fairs_path %>
