<h1>Schedule</h1>
  <%= form_for :entries, :url => schedule_fair_path do |form| %>
  <table>
    <thead>
    <tr>
      <th>Entry</th>
      <% Timeslot.all.in_order.each do |timeslot| %>
        <th><%= timeslot.description %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><div class=<%= entry.color_class %>><%= entry.entry_name %></div></td>
        <%= fields_for "entries[]", entry do |f| %>
          <%= render partial: 'bulk_update_entry_timeslot', locals: {form: f, entry: entry} %>
          <td>
            <div class="field">
              <%= f.select :location_id, Location.for_fair(entry.fair).map{ |m| [m.description, m.id] }%>
            </div>
          </td>
          <td>
            <%= f.fields_for "judge_assigns[]", entry do |ff| %>
              <% User.volunteered(entry.fair).each do |user| %>
                <div class=<%= user.color_class(entry) %>>
                  <%= check_box_tag 'judge_assigns[]', "#{entry.id}_#{user.id}", user.judging_entry?(entry) %>
                  <%= user.email_or_name %>
                </div>
          <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <p>
    <%= submit_tag("Submit") %>
  </p>
<% end %>

<br>  <%= link_to 'Review Schedule', view_schedule_fair_path(@fair) %>
<br>  <%= link_to 'Back', fairs_path %>
