<% if current_user.admin? && @user.id != current_user.id %>
  <div class="alert alert-danger">
    <h4>You are currently in admin mode and are viewing a user other than yourself.</h4>
  </div>
<% end %>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_role.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :region %>
    <%= form.select :region_id, Region.all.map{ |m| [m.name, m.id] }%>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :user_role %>
      <%= form.select :user_role_id, UserRole.all.map{ |m| [m.role_name, m.id] }%>
    </div>
  <% end %>

  <hr>

  <p>If you will not be judging entries, you may ignore these questions.</p>

  <div class="field">
    <%= form.check_box :written %>
    <%= form.label 'I prefer to not judge entries face-to-face.' %>
  </div>

  <div class="field">
    <%= form.check_box :first_time %>
    <%= form.label 'This will be my first time as a judge.' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to "Change your password", edit_user_registration_path %>
<% end %>
