<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_role.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.select :region_id, Region.all.map{ |m| [m.name, m.id] }%>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :user_role %>
      <%= form.select :user_role_id, UserRole.all.map{ |m| [m.role_name, m.id] }%>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :written %>
    <%= form.check_box :written %>
  </div>

  <div class="field">
    <%= form.label :digital %>
    <%= form.check_box :digital %>
  </div>

  <div class="field">
    <%= form.label :first_time %>
    <%= form.check_box :first_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
