<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region.name %>
</p>

<p>
  <strong>Prefers written entries?</strong>
  <%= @user.written %>
</p>

<p>
  <strong>First time judge?</strong>
  <%= @user.first_time %>
</p>

<p>If you will be judging, you can also specify what categories of entries you'd prefer to judge.</p>
<%= link_to 'Manage your judging preferences', user_judge_preferences_path(@user) %>

<hr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if current_user.admin? %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
