<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region.name %>
</p>

<p>
  <strong>Prefers written entries?</strong>
  <%= @user.written %>
</p>

<p>
  <strong>Prefers digital entries?</strong>
  <%= @user.digital %>
</p>

<p>
  <strong>First time judge?</strong>
  <%= @user.first_time %>
</p>

<%= link_to 'Edit Judging Preferences', user_judge_preferences_path(@user) %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
