<% if current_user.admin? && @user.id != current_user.id %>
  <div class="alert alert-danger">
    <h4>You are currently in admin mode and are viewing a user other than yourself.</h4>
  </div>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>SCA Name:</strong>
  <%= @user.sca_name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @user.region.name %>
</p>

<p>
  <strong>Peerage(s):</strong>
  <br>
  <% @user.peerages.each do |peerage| %>
    <%= peerage.description %><br>
  <% end %>
</p>

<p>
  <strong>Prefers written entries?</strong>
  <%= @user.written %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Manage judging preferences', user_judge_preferences_path(@user) %>
<% end %>

<hr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if current_user.admin? %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
