<h1>Judge Assigns</h1>

<table>
  <thead>
    <tr>
      <th>Judge</th>
      <th>Entry</th>
      <th>Assigned</th>
      <th>Shadow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @judge_assigns.each do |judge_assign| %>
      <tr>
        <td><%= judge_assign.user.sca_name %></td>
        <td><%= judge_assign.entry.entry_name %></td>
        <td><%= judge_assign.assigned %></td>
        <td><%= judge_assign.shadow %></td>
        <td><%= link_to 'Show', fair_judge_assign_path(@fair, judge_assign) %></td>
        <td><%= link_to 'Edit', edit_fair_judge_assign_path(@fair, judge_assign) %></td>
        <td><%= link_to 'Destroy', [@fair, judge_assign], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Judge Assign', new_fair_judge_assign_path(@fair) %>
<br>  <%= link_to 'Back', fairs_path %>
