<p>
  <strong>User:</strong>
  <%= @judge_assign.user.sca_name %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @judge_assign.entry.entry_name %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @judge_assign.assigned %>
</p>

<p>
  <strong>Shadow:</strong>
  <%= @judge_assign.shadow %>
</p>

<%= link_to 'Edit', edit_fair_judge_assign_path(@fair, @judge_assign) %> |
<%= link_to 'Back', fair_judge_assigns_path %>
