<%= form_with(model: [@user, judge_preference], local: true) do |form| %>
  <% if judge_preference.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(judge_preference.errors.count, "error") %> prohibited this judge_preference from being saved:</h2>

      <ul>
        <% judge_preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? && @user.id != current_user.id %>
    <div class="alert alert-danger">
      <h4>You are currently in admin mode and are viewing a user other than yourself.</h4>
    </div>
  <% end %>

  <div class="field">
    <%= collection_check_boxes(:user, :selected_divisions, Division.all.default_order, :id, :name) do |b| %>
      <br>
      <% if @prior_division_name != b.object.name %>
        <h3><%= b.object.name %></h3>
        <% @prior_division_name = b.object.name %>
      <% end %>
      <%= b.label(class: "checkbox-inline", :"data-value" => b.value) { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Update Preferences" %>
  </div>
<% end %>
