<%= form_with(model: [@user, judge_preference], local: true) do |form| %>
  <% if judge_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(judge_preference.errors.count, "error") %> prohibited this judge_preference from being saved:</h2>

      <ul>
        <% judge_preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_check_boxes(:user, :selected_categories, Category.all, :id, :name) do |b| %>
      <br>
      <%= b.label(class: "checkbox-inline", :"data-value" => b.value) { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
