<p id="notice"><%= notice %></p>

<h1>Judge Preferences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @judge_preferences.each do |judge_preference| %>
      <tr>
        <td><%= judge_preference.category.name %></td>
        <td><%= link_to 'Destroy', [@user, judge_preference], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Judge Preference', new_user_judge_preference_path(@user) %>
<br><%= link_to 'Back', @user %>
