<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to 'User Management', users_path %>
  <br>
  <%= link_to 'User Role Management', user_roles_path %>
  <br>
  <%= link_to 'Judge Assignment Management', judge_assigns_path %>
  <br>
  <%= link_to 'Category Management', categories_path %>
  <br>
  <%= link_to 'Division Management', divisions_path %>
  <br>
  <%= link_to 'Fair Management', fairs_path %>
  <br>
  <%= link_to 'Region Management', regions_path %>
  <br>
  <%= link_to 'Timeslot Management', timeslots_path %>
  <br>
  <%= link_to 'Criteria Type Management', criteria_types_path %>
  <br>
  <%= link_to 'Criteria Description Management', criteria_descriptions_path %>
  <br>
  <%= link_to 'Criteria Management', criteria_path %>
  <br>
<% end %>

<%= link_to 'Entry Management', entries_path %>
<br>
<%= link_to 'User Settings', current_user %>
<br>

<br><br>

<%= link_to 'Login', new_user_session_path %>
<br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
