<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to 'User Management', users_path %>
  <br>
  <%= link_to 'User Role Management', user_roles_path %>
  <br>
  <%= link_to 'Judge Assignment Management', judge_assigns_path %>
  <br>
<% end %>

<%= link_to 'Entry Management', entries_path %>

<br><br>

<%= link_to 'Login', new_user_session_path %>
<br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
