<p id="notice"><%= notice %></p>

<h1>Group Entry Participants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_entries.each do |user_entry| %>
      <tr>
        <td><%= user_entry.user.email %></td>
        <td><%= link_to 'Remove Entrant', [@entry, user_entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new entrant', new_entry_user_entry_path(@entry) %>
<br><%= link_to 'Back', entries_path %>
