<%= form_with(model: applicable_criterium, local: true) do |form| %>
  <% if applicable_criterium.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(applicable_criterium.errors.count, "error") %> prohibited this applicable_criterium from being saved:</h2>

      <ul>
        <% applicable_criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :criteria_type %>
    <%= form.select :criteria_type_id, CriteriaType.all.children.map{ |m| [m.description, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.select :division_id, Division.all.map{ |m| [m.name, m.id] }%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
