<%= form_with(model: applicable_criterium, local: true) do |form| %>
  <% if applicable_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicable_criterium.errors.count, "error") %> prohibited this applicable_criterium from being saved:</h2>

      <ul>
        <% applicable_criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :criteria %>
    <%= form.select :criteria_id, Criterium.all.sub_criteria.map{ |m| [m.name, m.id] }%>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.map{ |m| [m.name, m.id] }%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
