<p id="notice"><%= notice %></p>

<h1>Applicable Criteria</h1>

<table>
  <thead>
    <tr>
      <th>Criteria</th>
      <th>Criteria type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicable_criteria.each do |applicable_criterium| %>
      <tr>
        <td><%= applicable_criterium.criteria_id %></td>
        <td><%= applicable_criterium.criteria_type_id %></td>
        <td><%= link_to 'Show', applicable_criterium %></td>
        <td><%= link_to 'Edit', edit_applicable_criterium_path(applicable_criterium) %></td>
        <td><%= link_to 'Destroy', applicable_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicable Criterium', new_applicable_criterium_path %>
