<%= form_with(model: [@entry, scoresheet], local: true) do |form| %>
  <% if scoresheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scoresheet.errors.count, "error") %> prohibited this scoresheet from being saved:</h2>

      <ul>
        <% scoresheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @entry.entry_name %></h3>

  <p>
    <strong>Name:</strong>
    <%= @entry.category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @entry.category.description %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= @entry.category.division.name %>
  </p>

  <% CriteriaType.all.top_level.each do |criteria_type| %>
    <p>
      <strong><%= criteria_type.description %></strong>
    </p>

    <p><%= CriteriaDescription.description_for_category(criteria_type.id, @entry.category.id) %></p>

    <% Criterium.all.by_type(criteria_type.id).by_category(@entry.category.id).each do |criteria| %>
      <p><%= "#{criteria.suggested_score} - #{criteria.description}" %></p>
    <% end %>

    <% CriteriaType.all.children_for(criteria_type).each do |child_criteria| %>
      <strong><%= child_criteria.description %></strong>
      <%= form.fields_for 'scores[]', @scoresheet.scores.select{|n| n.criteria_type_id == child_criteria.id}.first do |score_fields| %>
        <%= score_fields.hidden_field(:criteria_type_id, :value => child_criteria.id) %>
        <p>Score:
          <%= score_fields.number_field :score %></p>
        <p>Comments:
          <%= score_fields.text_area :comment %></p>
      <% end %>
      <hr>
    <% end %>

    <%= form.fields_for 'scores[]', @scoresheet.scores.select{|n| n.criteria_type_id == criteria_type.id}.first do |score_fields| %>
      <%= score_fields.hidden_field(:criteria_type_id, :value => criteria_type.id) %>
      <p>Score:
      <%= score_fields.number_field :score %></p>
      <p>Comments:
      <%= score_fields.text_area :comment %></p>
    <% end %>
    <hr>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
