<h1>Scoresheets</h1>

<table>
  <thead>
  <tr>
    <th>Entries you are assigned to</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.entry_name %></td>
      <td><%= link_to 'New Scoresheet', new_entry_scoresheet_path(entry) %></td>
      <td><%= "You are assigned as a shadow judge." if JudgeAssign.find_by(entry_id: entry.id).shadow %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<table>
  <thead>
  <tr>
    <th>Submitted scoresheets</th>
    <% if current_user.admin? %>
      <th>Judge</th>
    <% end %>
    <th>Faire</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @scoresheets.each do |scoresheet| %>
    <tr>
      <td><%= scoresheet.entry.entry_name %></td>
      <% if current_user.admin? %>
        <td><%= scoresheet.user.email_or_name %></td>
      <% end %>
      <td><%= scoresheet.entry.fair.name %></td>
      <td><%= link_to 'View Details', entry_scoresheet_path(scoresheet.entry, scoresheet) %></td>
      <td><%= link_to 'Edit', edit_entry_scoresheet_path(scoresheet.entry, scoresheet) %></td>
      <% if current_user.admin? %>
        <td><%= link_to 'Delete', [scoresheet.entry, scoresheet], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br><%= link_to 'Back', root_path %>
