<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @scoresheet.user_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @scoresheet.entry_id %>
</p>

<%= link_to 'Edit', edit_entry_scoresheet_path(@scoresheet.entry, @scoresheet) %> |
<%= link_to 'Back', scoresheets_path %>
