<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Division:</strong>
  <%= @category.division.name %>
</p>

<p>
  <strong>Mail-in:</strong>
  <%= @category.mail_in %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
