<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @timeslot.order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timeslot.description %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
