<!DOCTYPE html>
<html>
  <head>
    <title>Midrealm Arts and Sciences Fair Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Midrealm Arts and Sciences Fair Portal</h2>
    <hr>

    <% flash.each do |name, msg| %>
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, id: "flash_#{name}", class: "alert alert-#{name}" %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-#{name}" %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
