<!DOCTYPE html>
<html>
  <head>
    <title>Midrealm Arts and Sciences Fair Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Midrealm Arts and Sciences Fair Portal</h2>
    <hr>
    <%= yield %>
  </body>
</html>
