<!DOCTYPE html>
<html>
<head>
  <title>Midrealm Arts and Sciences Fair Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<div class="banner">
  <h1>Midrealm Arts and Sciences Fair Portal</h1>
</div>

<div class="body">
  <% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, id: "flash_#{name}", class: "alert alert-#{name}" %>
      <% end %>
    <% else %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  <% end %>

  <%= yield %>

  <% if user_signed_in? %>
    <br><br>

    <div>
      <%= link_to 'Home', root_path %>
      <br>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>
</body>
</html>
